*{
    
}
body{
    background-color: rgba(0, 0, 0, 0.76);
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    
}
.container{
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.637);
    width: 200px;
    height: 300px;
    
}
.botao{
    width: 25px;
    padding: 5px;
    margin: 1px;
    text-align: center;
    border-radius: 20px;
}
.tela{
    background-color: white;
    width: 180px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.685);
    box-shadow: 1px 1px 1px indigo;
    margin: 8px 0px 10px 0px;
}
.n{
    display: inline;
    width: fit-content;
    flex-direction: row;
    
}