*{
    
}
body{
    background-color: rgba(0, 0, 0, 0.76);
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    
}
.container{
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.637);
    padding: 10px;
    justify-content: center;
    align-items: center;
    
}
.botao{
    width: 25px;
    padding: 5px;
    margin: 1px;
    text-align: center;
    border-radius: 20px;
}
.botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tela{
    background-color: black;
    color: white;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.685);
    box-shadow: 1px 1px 1px indigo;
    
}
.n{
    display: inline;
    width: fit-content;
    flex-direction: row;
    
}
input#display{
    margin: 5px;
}